<li class="fields">
<p>
	<%= f.label :name, "Exercise" %>
	<%= link_to_remove_fields "remove", f %><br />
	<%= f.text_field :name %>
</p>
<ul>
	<% f.fields_for :exercise_sets do |builder| %>
		<%= render 'exercise_set_fields', :f => builder %>
	<% end %>
	<li><%= link_to_add_fields "Add Set", f, :exercise_sets %></li>
</ul>
</li>
