<%= form_for @workout do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<p>
		<%= f.label :date %><br />
		<%= date_select :workout, :date %><br />
		<%= f.label :bodyweight %><br />
		<%= f.text_field :bodyweight %>
	</p>
	<ul>
		<% f.fields_for :exercises do |builder| %>
			<%= render "exercise_fields", :f => builder %>
		<% end %>
		<li><%= link_to_add_fields "Add Exercise", f, :exercises %></li>
	</ul>
	<p>
		<%= f.label :note, "Workout notes" %><br />
		<%= f.text_area :note, :rows => 3 %><br />
	</p>
	<p><%= f.submit "Submit" %></p>
<% end %>
