<h1>All Workouts</h1>

<% unless @workouts.empty? %>
	<div class="workouts">
	<table>
		<tr>
			<th></th>
			<% @exercises.each do |exercise| %>
        <th><%= link_to "#{exercise}", "/workouts/graph?stat=#{exercise}" %></th>
			<% end %>
      <th><%= link_to "Bodyweight", "/workouts/graph?stat=bodyweight" %></th>
			<th>Notes</th>
		</tr>
		<% @workouts.each do |workout| %>
			<tr class="<%= cycle("even", "odd") %>">
				<td><%= link_to workout.date, edit_workout_url(workout) %></td>
				<% @exercises.each do |exercise| %>
					<td>
						<% if e = workout.find_exercise_by_name(exercise) %>
							<% e.exercise_sets.each do |set| %>
								<% if set.failure %>
									<div class="failure">
								<% end %>
								<%= set.reps %>x<%= set.weight %><br />
								<% if set.failure %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</td>
				<% end %>
				<td><%= workout.bodyweight %></td>
				<td><%= workout.note %></td>
			</tr>
		<% end %>
	</table>
	</div>
<% else %>
	No workouts. Get lifting, brah
<% end %>

<p><%= link_to "Add workout", new_workout_url %></p>
