<h1>All Workouts</h1>

<% unless @workouts.empty? %>
  <p><%= link_to "Add workout", new_user_workout_url %></p>
	<div class="workouts">
	<table>
		<tr>
			<th></th>
			<% @exercises.each do |exercise| %>
        <th><%= link_to "#{exercise}", graph_user_workouts_path(:stat => exercise) %></th>
			<% end %>
      <% if @user.has_bodyweight? %>
        <th><%= link_to "Bodyweight", graph_user_workouts_path(:stat => "bodyweight") %></th>
      <% end %>
			<th>Notes</th>
		</tr>
		<% @workouts.each do |workout| %>
			<tr class="<%= cycle("even", "odd") %>">
				<td><%= link_to workout.date, edit_user_workout_url(workout.user, workout) %></td>
				<% @exercises.each do |exercise| %>
					<td>
						<% if e = workout.find_exercise_by_name(exercise) %>
							<% e.exercise_sets.each do |set| %>
								<% if set.failure %>
									<div class="failure">
								<% end %>
								<%= set.reps %>x<%= set.weight %><br />
								<% if set.failure %>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</td>
				<% end %>
        <% if @user.has_bodyweight? %>
          <td><%= workout.bodyweight %></td>
        <% end %>
				<td><%= workout.note %></td>
			</tr>
		<% end %>
	</table>
	</div>
<% else %>
	No workouts. Get lifting, brah
<% end %>

<p><%= link_to "Add workout", new_user_workout_url %></p>
