<h1>Workout on <%= @workout.date.to_formatted_s(:long) %></h1>

<% unless @workout.exercises.empty? %>
	<% @workout.exercises.each do |exercise| %>
		<p><%= exercise.name %></p>
		<% exercise.exercise_sets.each do |set| %>
			<p><%= set.reps %> at <%= set.weight %>
		<% end %>
	<% end %>
<% end %>

<p><%= link_to "edit", edit_workout_path(@workout) %></p>
<p><%= link_to "delete", @workout, :method => :delete, :confirm => "You sure?", :title => "Delete Workout" %></p>
