<%= form_for @user do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
  <%= f.label :username %><br />
  <%= f.text_field :username %><br />
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
	<%= f.label :password %><br />
  <%= f.password_field :password %><br />
	<%= f.label :password_confirmation, "Confirm password" %><br />
	<%= f.password_field :password_confirmation %>
	<p><%= f.submit "Submit", :class => "submit" %></p>
<% end %>
