<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
  <%= stylesheet_link_tag 'custom.css', 'jquery-ui-1.8.18.custom.css' %>
  <%= javascript_include_tag 'jquery-1.7.2.min',
                             'jquery-ui-1.8.18.custom.min.js',
                             'rails.js',
                             'application.js',
                             'highcharts.js' %>
	<%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

</head>
<body>
	<%= render 'layouts/header' %>

	<div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
		<%= yield %>
	</div>

	<%= debug(params) if Rails.env.development? %>


</body>
</html>
